<div class="row">
  <div class="section">
    <h4>ラベル一覧</h4>
  </div>

  <div id="flash-error">
    <% flash.each do |name, message| %>
      <p class="card <%= name %>"><%= message %></p>
    <% end %>
  </div>
  <div class="row fixed-list-header">
    <a href="<%= new_label_path %>" class="waves-effect waves-light btn right edit" tabindex="-1">新規登録</a>
  </div>
  <table class="table table-bordered fixed-form" >
    <thead>
    <tr>
      <th>ラベルコード</th>
      <th>ラベル名</th>
      <th>
        編集
        <br><font color='red'>※タスク未設定のラベルのみ削除可</red>
      </th>
    </tr>
    </thead>
    <tbody>
    <% @labels.each do |label| %>
        <tr style="height:48px;">
          <td style="vertical-align: middle"><%= label["label_cd"] %></td>
          <td style="vertical-align: middle"><%= label["label_nm"] %></td>
          <td class="action" style="vertical-align: middle">
            <% unless label["l_cnt"].present? %>
              <%= link_to '削除', label_path(label["id"]), method:"delete", 'data-confirm': '削除します。よろしいですか？' %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
