<!DOCTYPE html>
<html>
  <head>
    <title>タスク管理システム - Ruby教育カリキュラム -</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="nav-extended">
        <div class="nav-wrapper">
          <%= link_to 'タスク管理システム - Ruby教育カリキュラム -', root_path, class: 'system-title' %>
          <div id="login-user-info" class="right">
            <div class="left"><a rel="nofollow" data-method="delete" href="<%= logout_path %>" id="logout-link">ログアウト</a></div>
          </div>
        </div>

        <div class="nav-content">
          <ul class="tabs tabs-transparent">
            <li class="tab">
              <li class="tab"><%= link_to 'タスク管理', root_path, { target: '_self' }.merge(menu_item_class('tasks'))  %></li>
              <% if current_user.admin? %>
                <li class="tab"><%= link_to 'ユーザ管理', users_path, { target: '_self' }.merge(menu_item_class('users', except: ['edit', 'update']))  %></li>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main>

      <%= yield %>

    </main>

    <footer class="page-footer">
      <div class="footer-copyright">PSC Inc.</div>
    </footer>
  </body>
</html>
